<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>
      <main>
        <section class="news section">
          <div class="container">
            <div class="news__container wrapper">
              <h1 class="news__title title">News Page</h1>
              <div class="news__cards">
                <div class="news__card">
                  <div class="news__title">News Title</div>
                  <div class="news__desc">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, unde.
                  </div>
                  <div class="news__meta">
                    <div class="news__author">News Autor</div>
                    <div class="news__date">12.12.2023</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <%- include('../partials/footer.ejs') %>
  </body>

</html>
