<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>
      <main>
        <section class="news section">
          <div class="container">
            <div class="news__container wrapper">
              <div class="news__meta">
                <div class="news__author">News Autor</div>
                <div class="news__date">12.12.2023</div>
              </div>
              <h1 class="news__title title">News Inner Page</h1>
              <div class="news__desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam mollitia impedit, a eaque,
                laboriosam accusantium minima cumque quasi, optio molestiae quidem labore quae nam porro hic deserunt
                sit. Iusto, vitae.
              </div>
            </div>
          </div>
        </section>
      </main>
      <%- include('../partials/footer.ejs') %>
  </body>

</html>
