* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-weight: 500;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 80%;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding: 150px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  min-height: 63vh;
  text-align: center;
}

.title {
  color: cadetblue;
}

.desc {
  max-width: 70%;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  background-color: cadetblue;
}

.header__container {
  display: flex;
  justify-content: end;
  gap: 20px;
  padding: 20px 0;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.header__menu a {
  color: #fff;
  text-decoration: none;
}

.footer {
  color: #fff;
  background-color: cadetblue;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}

.news__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.news__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  color: #000;
  background-color: #f4f4f4;
  text-decoration: none;
}

.news__caption {
  font-size: 24px;
  font-weight: 700;
}

.news__meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.news__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 450px;
  padding: 30px;
  background-color: #f4f4f4;
}

.form__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.news__form label {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}

input,
textarea {
  width: 100%;
  padding: 10px 20px;
}

textarea {
  resize: none;
  height: 90px;
}
