<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    html {
      font-size: 20px;
    }

    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .title {
      margin-bottom: 30px;
    }

    .txt {
      max-width: 980px;
    }
  </style>
</head>

<body>
  <h1 class="title">About Page</h1>
  <div class="txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ut odit veniam itaque facere nostrum
    quisquam aut odio laboriosam doloribus praesentium quam amet, qui iusto repellat nihil adipisci? Laboriosam,
    recusandae?</div>
</body>

</html>
