<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1 class="title">Contact Page</h1>
  <div class="txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ut odit veniam itaque facere nostrum
    quisquam aut odio laboriosam doloribus praesentium quam amet, qui iusto repellat nihil adipisci? Laboriosam,
    recusandae?</div>
</body>

</html>
