<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <%- include('../partials/header.ejs') %>
    <main>
      <section class="hero section">
        <div class="container">
          <div class="hero__container wrapper">
            <h1 class="hero__title title">Main Page</h1>
            <div class="hero__desc desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ut odit veniam
              itaque
              facere nostrum
              quisquam aut odio laboriosam doloribus praesentium quam amet, qui iusto repellat nihil adipisci?
              Laboriosam,
              recusandae?</div>
          </div>
        </div>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>

</html>
