<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>
      <main>
        <section class="news section">
          <div class="container">
            <div class="news__container wrapper">
              <h1 class="news__title title">News Page</h1>
              <div class="news__cards">
                <!-- 3 карточки -->
                <!-- картинку, заголовок, дата автор, краткое описание -->
              </div>
            </div>
          </div>
        </section>
      </main>
      <%- include('../partials/footer.ejs') %>
  </body>

</html>
