<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__copy">Copyright © Contractor X</div>
      <div class="footer__desc">
        Designed by <a href="" target="_blank">BRIX Templates</a> | Powered by <a href="" target="_blank">Webflow</a>
      </div>
    </div>
  </div>
</footer>
