<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>
      <main>
        <section class="hero section">
          <div class="hero__back">
            <img src="img/img-1.png" alt="">
          </div>
          <div class="container">
            <div class="hero__container">
              <h1 class="hero__title">We provide effective contracting services</h1>
              <div class="hero__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit dolor sit varius rhoncus,
                nullam pulvinar ut sollicitudin dictumst porttitor porttitor quis quisque erat.</div>
              <div class="hero__links">
                <a href="" class="hero__link button">Get a quote</a>
                <a href="" class="hero__link button button_light">Our services</a>
              </div>
            </div>
          </div>
        </section>
      </main>
      <%- include('../partials/footer.ejs') %>
  </body>

</html>
