<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1 class="title">Main Page</h1>
  <div class="txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ut odit veniam itaque facere nostrum
    quisquam aut odio laboriosam doloribus praesentium quam amet, qui iusto repellat nihil adipisci? Laboriosam,
    recusandae?</div>
  <br /><br />
  <ul>
    <li><a href="http://localhost:3000/">Home</a></li>
    <li><a href="http://localhost:3000/about">About</a></li>
    <li><a href="http://localhost:3000/contact">Contact</a></li>
  </ul>
</body>

</html>
