<header class="header">
  <div class="container">
    <div class="header__container">
      <nav class="header__nav">
        <ul class="header__menu">
          <li><a href="/">Home</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/news-app">Add News</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
